.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  /* 너비의 절반을 할당하면 원 */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}